.basic-container {
  padding: 30px;
}

.mat-radio-button{
  margin-left:16px;
}

table {
  width: 75%;
}

.container{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card{
  margin-right: 10px;
}



